[user]
  name = Zaccary Price
  username = vivaldi-va
  email = wildtangomedia@gmail.com
[url "https://"]
  insteadOf = git://
[url "git@github.com:"]
	insteadOf = https://github.com/
[push]
  default = simple
[core]
  editor = nvim
[alias]
  lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --exclude='*/gh-pages' --all
  sl = shortlog -30 --no-merges
  cl = log --format='%h %an: %s'
  s = status
  diff = diff -w
  d = diff -w
  dc = diff -w --cached
  pf = push --force-with-lease
[filter "strongbox"]
	clean = strongbox -clean %f
	smudge = strongbox -smudge %f
	required = true
[diff "strongbox"]
	textconv = strongbox -diff
[pull]
	ff = only
