configuration {
	modi: "combi";
  font: "Iosevka Term 12";
	combi-modi: "window,run";
  fixed-num-lines: true;
  max-history-size: 5;
  lines: 5;
	eh: 2;
	kb-cancel: "Escape,Control+g,Control+bracketleft,Control+space,Super_L+d";
	kb-row-select: "";
  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}

//@theme "gruvbox-dark"
@theme "~/.config/rofi/themes/type01/theme.rasi"
